
.btn-f {
  float:right;
  cursor:pointer;
  margin-left: 5px;
  transition: all .1s linear;
}
.btn-f:active {

  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.btn-g {
  float:right;
  cursor: pointer;
  transition: all .1s linear;
}
.btn-g:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.news-container {
  width: 95vw;
  min-height: 10vh;
  overflow: auto;
 /* margin-left: 8%;*/
  padding: 15px;
  background-color: #E5E5E5;
  box-shadow: 5px 0px 5px #CCCCCC;
  border-radius: 3px;
  margin-left: 8px;
}
.news-urllogo img{
  width: 17vw;
  float: right;
  clear: both;
}
.news-name {
  font: "HelveticaNeue-Light";
  font-size: 2em;
  color:red;
}
.news-url {
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  width: 50%;
  clear:both;
}
.news-description {
  width: 70vw;
  text-align: justify;
  margin-top:5px;
  font-size: 1.2em;
}
