*{
  margin: 0;
  padding:0;
 }
.App-header{
  background-color: #84C6B1;
  /*margin-left: 8%;*/
  padding: 15px;
  width: 95vw;
  height: 17vh;
  box-shadow: 5px 1px 5px #CCCCCC;
  margin-bottom: -10px;
  margin-left: 8px;
  text-align: center;
}
  h1 {
  color: #4d89f9;
  margin: 0 auto;
  padding: 30px;
  font-family: "HelveticaNeue";
  text-align: center;
  height: 40px;
  letter-spacing: 5px;
}

span {
  font-size: 20px;
  word-spacing: 5px;
  letter-spacing: 1px;

}
footer {
  margin:5px;
  text-align: center;
}
